@model stcokManagement.Models.TblSelf

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblSelf</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelfNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelfNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirlineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirlineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlockNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlockNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
